/* Base Styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.row-3 {
    flex: 1;
}

h1 {
    font-size: 1.5em;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    background: lightpink;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

/* Mobile First Approach */

.main-header,
.main-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-nav { /* vertically centered top navigation */
    margin-bottom: auto;
}
.main-nav li {
    padding: 10px 0;
}
.main-nav a {
    display: block;
    padding: .33em;
}

/* Use this if you had a logo on the left header. 
.main-header h1 { 
    align-self: center;
} 
*/

.flex-container-2 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 2em auto;
}
.primary {
    margin: 0 auto;
}

#portfolio,
#contact {
    text-align: center;
}
header {
    background: floralwhite;
}

.generated-content {
    display: none;
}

footer p::before {
    content: "Student Name";
}
footer p a {
    float: right;
}

.mobile-display {
    display: none;
}

.top-heading {    
    margin: 0.5em 0 2em;
}

@media (min-width: 768px) {
    
    .container {
        width: 95%;
    }
    
    .footer-header,
    .footer-nav {
        display: flex;
        flex-direction: column;
    }    
    .main-nav { /* Tablet Navigation */
        margin-top: 1.5em;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 0;
    }
    .bottom-heading { /* Centered Top Heading */
        text-align: center;
        margin-right: auto;
    }

    .top-heading {    
        margin: auto 0;
    }  
  
    .footer-header {
        flex-direction: row;
        align-self: center;
    }   
    footer p {
        display: none;
    }
    
    
    .flex-container-2 {
        display: flex;
        flex-direction: row;
    }
    .primary {
        text-align: left;
        font-size: 1.25em;
    }
    .secondary {
        text-align: right;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        flex: 1 50%;
    }
    
    
    

}

@media (min-width: 1024px) {
    
    /* Desktop Nav - Using Flexbox */
    .main-header,
    .footer-header {
        flex-direction: row;
    }
    .main-nav {
        margin-top: auto;
    }
    .top-heading { /* Desktop Top Heading */
        margin: auto auto auto 0;
    }
    
    .main-nav a {
        padding: .5em 1.5em;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        flex: 1 33%; /* 33% for 3 column layout */
    }
    
    
    
}